SECRET_KEY=your_secret_key_here
DATABASE_URL=postgresql://user:password@localhost:5432/luxon
CLOUDINARY_URL=cloudinary://your_api_key:your_api_secret@your_cloud_name
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
FLASK_APP=run.py
FLASK_ENV=development
